{% extends "index.twig" %}

{% 
set errorCodes = {
	10: 'Contul introdus nu există!',
} 
%}


{% block title %}Contul meu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="orange-text">
                    Contul meu
                </h1>
                <nav>
                    <div class="nav-wrapper light-blue">
                        <div class="col s12">
                            <a href="?p=index" class="breadcrumb">Acasă</a>
                            <a href="?p=account" class="breadcrumb">Contul meu</a>
                        </div>
                    </div>
                </nav>
				<br><br>
                {% if isLogin is defined and isLogin %}
                    {% if loginError is defined %}
                        <div class="card-panel red darken-4">
                            <span class="white-text">
                                {{ errorCodes[loginError] }}
                            </span>
                        </div>
                    {% elseif LoggedIn %}
                        <div class="card-panel green lighten-1">
                            <span class="white-text">
                                Salut, {{ Session.name }}! Ai fost conectat cu succes!
                            </span>
                        </div>
                    {% endif %}
                {% endif %}
                {% if LoggedIn %}
                    <div class="center">
                        <img src="{{ avatarURL }}" alt="" class="circle responsive-img z-depth-3">
                        <h4>{{ Session.name }}</h4>
                    </div>
                    <div class="row">
                        <div class="col s12 l6">
                            <div class="collection">
                                <a class="collection-item"><i class="material-icons left red-text">group</i> Membru din: <span class="badge">16 ianuarie 2015</span></a>
                                <a href="#" class="collection-item"><i class="material-icons left amber-text">grade</i> Exerciții rezolvate: <span class="badge">4</span></a>
                                <a href="#" class="collection-item"><i class="material-icons left indigo-text">info</i> Fără notificări</a>
                            </div>
                        </div>
                        <div class="col s12 l6">
                            <div class="collection">
                                <a class="collection-item"><i class="material-icons left red-text">star</i> Monede: <span class="badge">{{ Session.coins }}</span></a>
                                <a href="#" class="collection-item"><i class="material-icons left amber-text">subject</i> Articole scrise: <span class="badge">1</span></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}